@charset "UTF-8";
/* CSS Document */

/*パソコン画面 (max-width: 1400px / min-width: 1001px)*/
@media (min-width: 100px) and (max-width: 2000px)
{
  body {
    margin:0;
    padding:0;
    text-align:left;
    background-color: #fff;
    font-size:0.85em;
  }

  header{
    background-color: none;
    /*border-bottom: 1px solid #fff;*/
    text-align: center;
  }
  
  .title{
    text-align: center;
    font-size: 30px;
    color: lightcoral;
    /*font-family:fantasy;*/
    font-family: "Times New Roman";
  }
  
  .none3{
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: lightcoral;
  }
  
  .none3 ul{
    max-width: 2000px;
    width: 100%;
    /*position: absolute;*/
    z-index: 3;
  }
  .none3 li{
    display: table-cell;
    padding-top: 10px;
    padding-bottom:5px;
    padding-left: 5px;
    color: white;
    list-style-type: none;
    font-size: 100%;
    font-weight: bold;
    font-family:cursive;
  }
  .none3 li a{
    padding-left:17px;
    padding-right:17px;
    color: white;
    text-align: center;
    text-decoration: none;
  } 
  
  .none3 li a:hover{
    color: white;
    opacity: 0.5;
    text-decoration: underline;
  } 
  
  
  
  /*.none3 li:before {
    content: "";
    position: absolute;
    top: .35em;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #8b6b4e;
  }*/
  .cp_hr01 {
	border-width: 3px 0 0 0;
	border-style: dotted;
	border-color: white;
  }
  
  
  
  main{
    /*border-bottom:1px solid #ccc;*/
    position:relative;
    background-color: #fff;
  }
  main p{
    font-size:200%;
    text-align: center;
    /*border-bottom:1px solid #fff;*/
    height:200px;
  }

  .title2{
    text-align: center;
  }
  
  /*.main {
    /*width: 100%;*/
    /*width: 800px;/*800px*/
    /*margin: 0 auto;
    margin-left: 0%;
    /*display: grid; */
    /*padding-left:0px;
    /*grid-template-columns: 1fr 1fr 1fr; 
    grid-template-columns: repeat(3, 1fr);
    gap: 0px; 
    /*grid-template-rows: 200px 200px;*/
  /*}*/ 
  
  
  .main-text{
    font-size: 30px;
    /*margin-top: 4%;*/
    color: black;
    margin-left: 40px;
    font-family:cursive;
  }
  
  .media1_summer{
    margin-top: -140px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  
  
  .left{
    display: flex;
    /*max-width: 100%;
    margin: 0 auto;
    /*width: 100%;*/
  } 
  
  
  .rogo{
    /*float: left;*/
    margin-top: 2%;
    margin-left: 5%;
  }
  .rogo img{
    width: 170px;/*150px*/
    height: 150px;/*130px*/
    /*margin-left: 7%;*/
  }
  
  
  
  
  
  .side{
    display: flex;
    float: left;
    width: 100%;
    margin: 0 auto; 
    /*align-items: center;*/
    background-color: rgba(240,128,128,0);
  }
  
  
  .media1{
    margin-top: 50px;
    margin: 0 auto;
    top: 0px;
    /*margin-left: 12%;*/
    margin-right: 50px;/*50px*//*10%*/
    margin-bottom: 5%;
    /*max-width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    
    padding-bottom: 5%;*/
    position: relative;
  }
  
  .media1-{
    margin-top: 5%;
    margin-left: 30px;
    margin-right: 30px;;
    padding-right:50px;
    background-color: white;
    border-radius: 5%;
  }
  
  
  h1{
    text-align: left;
    /*margin-top: 4%;*/
    font-size: 25px;
    color: lightcoral;
    padding-top: 5%;
    margin-left: 5%;
    font-family:  "Times New Roman";
  }


  .cp_hr02 {
    top: 190px;
    width: 250px;
	border-width: 3px 0 0 0;
	border-style: dotted;
	border-color: lightcoral;
  }
  
  .cp_hr03 {
    top: 190px;
    width: 250px;
    margin-bottom: 100px;
	border-width: 3px 0 0 0;
	border-style: dotted;
	border-color: lightcoral;
  }
  
  
  .main {
    max-width: 100%;
    margin: 0 auto;
    /*margin-top: 5%;
    /*margin-left: 10%;
    margin-right: 10%;*/
    /*margin-bottom: 5%;*/
  }

  .main-1{
    display: flex;
    float:left;
    margin-top: 1%;
    /*margin-left: 5px;
    
    /*padding-left: 5%;
    padding-right: 5%;*/
    /*ackground-color: #FFCC99;*/
  }
  .main-image1{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .main-image1:hover{
    opacity: 0.5;
  }
  
  .main-text1{
    color: dimgray;
    text-align: left;
    background-color: rgb(240,128,128,0);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    /*vertical-align: top;*/
    font-size: 20px;/*130*/
    font-family: "Times New Roman";
  }
  
  
  a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight:inherit;
    /*font-family:cursive;*/
    font-family: "Times New Roman";
  }
  a:hover{
    text-decoration:underline;
    color: gray;
  }
  
  
  .number-{
    display: flex;
    float: left;
    margin-top: -100px;
    margin-left: 290px;
    margin-right: 290px;
  }
  .number1 a{
    text-decoration: underline;
    color: black;
    padding-left: 50px;
  }
  
  .number2 a{
    text-decoration: none;
    color: dimgray;
    padding-left: 50px;
  }
  .number2 a:hover{
    text-decoration: underline;
    color: lightcoral;
  }
  
  
  
  
  .media2{
    /*background-color: white;*/
    margin-right: 12.5%;/*15%*/
    margin-top: 130px;
    margin-left: 30px;
    /*border: 3px dotted white; 
    /*float: right;*/
    /*padding-left: 1px;
    padding-right: 1px;*/
  }
  
  .media2-1{
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    background-color: lightcoral;
  }
  
  h2{
    font-size: 20px;
    text-align: center;
    /*padding-top: 20%;*/
    /*padding-left: 30%;
    padding-right: 30%;
    /*padding-bottom: 10%;*/
    color: white;
    font-family: "Times New Roman";
  }
  

  .main-2{
    display: flex;
    float: left;
    padding-top: 10px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 0px;
    margin-bottom: -129px;
    /*margin-bottom: -175px;*/
    background-color: none;
    /*border-bottom: dotted 3px lightcoral;*/
  }
  
  
  .main-image2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /*padding-left: 10px;*/
  }
  .main-image2:hover{
    opacity: 0.5;
  }
  .main-text2{
    color: black;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 13px;
  }
  /*h3{
    /*background-color: rgb(240,128,128,0.8);*/
    /*color: rgb(240,128,128,0);
    padding-top: 135.5px;
  }*/

}
  